.menu-container{
    display: flex;
    flex-direction: column;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    justify-content: flex-start;
    
    align-items: center;
    .menu-box{
        padding: 20px;
        background: #fff;
        width:600px; 
        margin-top: 200px;
        select{
            width: 100% !important;
            border: none;
            padding: 10px !important;
            border-radius: 5px;
        }
        .search-container{
        ::placeholder{
            color: black;
        }
        input{
            width: 100% !important;
            background: #f2f2f2;
            border: none;
            padding: 10px;
            border-radius: 5px;
            
        }
        button{
            display: none
        }
        
        
    }
    }

}
