.menu-container {
  position: fixed !important;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  justify-content: flex-start;
  align-items: center;
}
.menu-container .menu-box {
  padding: 20px;
  background: #fff;
  width: 50vh;
  margin-top: 200px;
  border-radius: 5px;
}
.menu-container .menu-box button {
  background: black;
  border: none;
}
.menu-container .menu-box button :active {
  border: none;
}
.menu-container .menu-box select {
  width: 100% !important;
  border: none;
  padding: 10px !important;
  border-radius: 5px;
}
.menu-container .menu-box .close-box {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}
.menu-container .menu-box .close-box i {
  cursor: pointer;
}
.menu-container .menu-box .search-container ::placeholder {
  color: black ;
}
.menu-container .menu-box .search-container input {
  width: 100% !important;
  background: #f2f2f2;
  border: none;
  padding: 10px;
  border-radius: 5px;
}
.menu-container .menu-box .search-container button {
  display: none;
}
.notDisplay {
  display: none;
}
header .filter-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
header h4,
header h5 {
  font-size: 14px;
  padding-top: 8px;
  padding-right: 5px;
}
header select {
  background: #f2f2f2;
  border: none;
  padding: 5px;
}
header .navbar-toggler {
  border: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}
header .search-form input[type="text"] {
  width: px;
  padding: 5px;
  font-size: 60px;
  line-height: 1;
}
header .search-input {
  border-radius: 5px 0 0 5px;
  background: #f2f2f2;
  font-size: 16px !important;
}
header .search-input::placeholder {
  color: black;
}
header .search-button {
  border-radius: 0 5px 5px 0;
  font-size: 16px;
}
#discount-modal .menu-box {
  width: 50%;
}
@media (max-width: 500px) {
  #discount-modal .menu-box {
    width: 90%;
  }
}
